.cart-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 1.5em 0;
    border: 2px solid #00000028;
    border-radius: 20px;
    background-color: white;
}

.cart-item img {
    width: 8%;
}

.cart-item h4 {   
    width: 30%;
}

.btn-cart-delete {
    color: red;
    margin-bottom: 0.3em;
    font-size: 2em;
    cursor: pointer;
}

