.cart-list-container {
    border-radius: 15px;
    border: 2px solid black;
    width: 95%;
    margin: 0 auto;
}

.cart-list-info {
    padding: 1em;
    margin: 5em auto;
    width: 30%;
    display: flex; 
    justify-content: space-between;
    align-items: baseline;
}

.cart-list-info p {
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 2em;
}
