.cart-list-container {
    width: 90%;
    margin: 0 auto 5em ;
}

.cart-list-options {
    padding: 1em;
    margin: 2em auto;
    width: 20%;
    display: flex; 
    justify-content: space-between;
}

.cart-list-total {
    font-size: 1.3em;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
    text-align: right;
}

.btn-cart-buy {
    background-color:#ccef00  !important;
    border: none !important;
}

.btn-cart-buy:hover {
    border: none !important;
    background-color:#96bc00 !important;
}