.navbar-container {
    background-color: #ccef00;
    margin-bottom: 5em;
    color: black;
}

.logo-container {
    width: 12%;
    margin: 0 -5em;
}

.logo {
    width: 80%;
}

.navbar-link.active {
    font-weight: bold;
}

.dropdown-item:focus {
    background-color: black !important;
}

.dropdown-item.active {
    background-color: black !important;
}

.cart-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}