.navbar-container {
    background-color: #ccef00;
    margin-bottom: 5em;
    color: black;
}

.logo-container {
    width: 12%;
    /* margin: 0 -5em; */
}

.logo {
    width: 80%;
}

.navbar-link.active {
    font-weight: bold;
}

.dropdown-item:focus {
    background-color: black !important;
}

.dropdown-item.active {
    background-color: black !important;
}

.cart-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media screen and (min-width: 320px) {
    .logo-container {
        width: 32%
    }

    .navbar-collapse {
        margin-top: 2em;
    }
}

@media screen and (min-width: 700px) {
    .logo-container {
        width: 22%
    }
}

@media screen and (min-width: 991px) {
    .logo-container {
        width: 12%
    }

    .navbar-collapse {
        margin-top: 0em;
    }
}