.navbar-container {
    background-color: #b4b388;
    margin-bottom: 5em;
    color: #5a5a38;
}

.logo-container {
    width: 12%;
    margin: 0 -5em;
}

.logo {
    width: 80%;
}

.cart-container {
    display: flex;
    align-items: center;
}